.sdd/cache/*
.build/*
.DS_Store
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/
Package.resolved

.sdd/runs/*
Tools/NgramTrainer/*
data/raw/*
Tools/CoreMLTrainer/venv/*
*__pycache__*
data/processed/*
.sdd/layouts.json

Tools/CoreMLTrainer/training_data_real.csv
Tools/CoreMLTrainer/training_data_real.csv
