.sdd/cache/*
.build/*
.DS_Store
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/
Package.resolved

.sdd/runs/*
Tools/NgramTrainer/*
!Tools/NgramTrainer/train_ngrams.py
!Tools/NgramTrainer/train_unigrams.py
data/raw/*
Tools/CoreMLTrainer/venv/*
*__pycache__*
data/processed/*
.sdd/layouts.json

*.csv
Tools/CoreMLTrainer/*.csv
releases/build/*
.vscode/settings.json
releases/*
data/*.sdd/
